services:
  protonvpn:
    image: qmcgaw/gluetun
    container_name: protonvpn
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun
    environment:
      - VPN_SERVICE_PROVIDER=protonvpn
      - SERVER_COUNTRIES=Japan
      - FREE_ONLY=on
      - TZ=${TZ}
      - FIREWALL=on
      - FIREWALL_OUTBOUND_SUBNETS=${OUTBOUND_SUBNETS}
    env_file:
      - .env
    volumes:
      - ./gluetun:/gluetun
    ports:
      - "5055:5055"
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "wget", "-q", "--spider", "https://www.google.com"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 30s

  jellyseerr:
    image: fallenbagel/jellyseerr:latest
    container_name: jellyseerr
    network_mode: "container:protonvpn"
    environment:
      - LOG_LEVEL=debug
      - TZ=${TZ}
      - PORT=5055
    volumes:
      - jellyseerr-data:/app/config
    restart: unless-stopped
    depends_on:
      protonvpn:
        condition: service_healthy
  
  scraparr:
    image: ghcr.io/thecfu/scraparr:latest
    container_name: scraparr
    ports:
      - "7100:7100"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    env_file:
    - .env
    restart: unless-stopped

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    ports: 
     - "9090:9090"
    volumes:
     - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
     - prometheus-data:/prometheus
    networks:
     - monitoring
    restart: unless-stopped
  
  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    volumes:
      - grafana-data:/var/lib/grafana
    env_file:
      - .env
    environment:
      - GF_SECURITY_ADMIN_USER=${GRAFANA_ADMIN_USER}
      - GF_SECURITY_ADMIN_PASSWORD=${GRAFANA_ADMIN_PASSWORD}
    networks:
      - monitoring
    restart: unless-stopped

  whisperasr:
    image: onerahmet/openai-whisper-asr-webservice:latest
    container_name: whisperasr
    environment:
      - ASR_MODEL=tiny
      - ASR_ENGINE=faster_whisper
    ports:
      - "9000:9000"
    restart: unless-stopped

networks:
  monitoring:
    driver: bridge

volumes:
  jellyseerr-data:
    driver: local
  prometheus-data:
    driver: local
  grafana-data:
    driver: local

